__pycache__/
*.py[cod]
*.egg-info/
dist/
/build/
.venv
*.egg
.mypy_cache/
.ruff_cache/
.pytest_cache/
docs/build/*
!docs/build/
!docs/build/earnings_valuation_model.pdf
*.aux
*.log
*.out
*.toc
*.synctex.gz
